@model ProjectAssigned.Models.CreateDeveloper
@{
    ViewBag.Title = "AddDeveloper";
    Layout = "~/Views/Shared/_ProjectAdminPannelLayout.cshtml";
}

    <div class="app-content  my-3 my-md-5">
       
        <div class="side-app">
            <div class="page-header">
                <h4 class="page-title">Edit Profile</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
                </ol>

            </div>
           
            <div class="row ">
              
                    <div class="col-md-12">

                        <form class="card">

                            <div class="card-header">
                                <h3 class="card-title"> Profile</h3>

                            </div>

                            <div class="card-body">
                                @using (Html.BeginForm("AddorEditProfile", "Profile", FormMethod.Post, new
                                {
                                    enctype = "multipart/form-data"
                                }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true,"",new {@class= "text-danger"});
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                                            <input type="file" class="dropify" data-default-file="../assets/images/media/media1.jpg" data-height="180" />
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                    </div>

                                    <br />
                                    <div class="row">



                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">First Name</label>
                                                <input type="text" class="form-control" placeholder="First Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Designation</label>
                                                <input type="text" class="form-control" placeholder="Company">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Salary</label>
                                                <input type="text" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Address</label>
                                                <input type="text" class="form-control" placeholder="Home Address">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Date Of Join</label>
                                                <input type="email" class="form-control" placeholder="Join Date">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Experience</label>
                                                <input type="email" class="form-control" placeholder="experience">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Gmail</label>
                                                <input type="email" class="form-control" placeholder="gmail">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Phone</label>
                                                <input type="text" class="form-control" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Cv</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                                    <label class="custom-file-label">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group mb-0">
                                                <label class="form-label">Bio</label>
                                                <textarea rows="5" class="form-control" placeholder="Enter About your description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-footer text-right">
                                        <button type="submit" class="btn btn-primary">Update Profile</button>
                                    </div>
                                }
                            </div>
                           
                        </form>
                    </div>
          
                </div>
          
            </div>
       
        </div>
       